@use "./blocks/headers";
@use "./blocks/resetstyle";
@use "./blocks/button";
@use "./blocks/pizzablock";
@use "./blocks/cart";
@use "./blocks/search";
@use "./blocks/paginations";
@use "./blocks/registration";
@use "./blocks/login";
@use "./blocks/accountsPanel";
@use "./blocks/account";
@use "./blocks/adminPanel";

.not__found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-img {
    border-radius: 10px;
  }
  &-text {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fe5f1e;
    font-size: 25px;
  }
}
.search__block {
  display: flex;
  margin: 0 auto;
  font-size: 20px;
  color: #fe5f1e;
}
.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.categories ul li {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.categories ul li:hover {
  background-color: #f4f4f4;
}
.categories ul li:active {
  background-color: #ececec;
}
.categories ul li.active {
  background-color: #282828;
  color: #fff;
}
@media (max-width: 500px) {
  .categories ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
}
.sort {
  position: relative;
}
.sort__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sort__label svg {
  margin-right: 8px;
}
.sort__label b {
  margin-right: 8px;
}
.sort__label span {
  color: #fe5f1e;
  border-bottom: 1px dashed #fe5f1e;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}
.sort__popup ul {
  overflow: hidden;
}
.sort__popup ul li {
  padding: 12px 20px;
  cursor: pointer;
}
.sort__popup ul li.active,
.sort__popup ul li:hover {
  background: rgba(254, 95, 30, 0.05);
}
.sort__popup ul li.active {
  font-weight: bold;
  color: #fe5f1e;
}

body {
  background-color: #ffdf8c;
}
.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}
@media (max-width: 4500px) {
  .wrapper {
    width: calc(100vw - 20px);
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 1400px;
  }
}
.content {
  padding: 40px 0;
}
.content__title {
  margin: 35px 0;
}
.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .content__top {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container--cart {
  max-width: 820px;
  margin: 90px auto;
}
.container--cart .content__title {
  margin: 0;
}
.goback {
  background-color: #fe5f1e;
  padding: 10px;
  border-radius: 10px;
  color: #ececec;
}
.payment {
  cursor: pointer;
  border: 0;
  font-size: 20px;
  background-color: #fe5f1e;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  width: 150px;
  color: #ececec;
}
// @media (max-width: 500px) {
//   .payment {
//     display: flex;
//     justify-content: start;
//     width: 100px;
//     border-radius: 20px;
//     padding: 0px 10px 10px 0px;
//   }
// }
